.champions{
    margin-top: 2vh;
    margin-left: 10%;
    width: 60%;
    height: 50vh;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.champions .champion{
    height: 10%;
    margin-top: 0%;
}