.filtros{
    margin-top: 3vh;
    margin-left: 10%;
    width: 60%;
    height: 12vh;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.button span {
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    color: black;
}